extends layout

block content
      img(class="moviePoster" src="https://image.tmdb.org/t/p/original#{movies.poster_path}", alt="#{movies.original_title}")

      h1(class="movieName")"#{movies.original_title}"

      .genre_list 
            each genre in movies.genres
                  p(class ="genre")"#{genre.name}"

      p(class="description")"#{movies.overview}"
      


      hr

      h1(class="similarMovieHeading") Similar Movies 
      .movie_list
            each similarMovie in similarMovies
                  a(href="/search/movie/#{similarMovie.id}")  
                        img(src="https://image.tmdb.org/t/p/original#{similarMovie.poster_path}", alt=`#{similarMovie.original_title}`)
                  //- p(class="stream") Netflix